*.log
.vs
results
使用说明绿色精简中文版_草稿.docx
使用说明_中文.docx
CommonLib/obj/*
CommonLib/bin/*
ATLib/obj/*
ATLib/bin/*
ezTesting/obj/*
ezTesting/bin/*
TestLib/obj/*
TestLib/bin/*
ReportLib/obj/*
ReportLib/bin/*
XunitTest/obj/*
XunitTest/bin/*
OpenIt/obj/*
OpenIt/bin/*
Hook/obj/*
Hook/bin/*
RemoteLib/obj/*
RemoteLib/bin/*
CMTest/obj/*
CMTest/bin/Debug/*
!/CMTest/bin/Debug/Conf.xml
!/CMTest/bin/Debug/xmlReport.xsl
!/CMTest/bin/Debug/Resources
CMTest/bin/Release
packages/*